<% for (var css in htmlWebpackPlugin.files.css) { 
    if(htmlWebpackPlugin.files.css[css].indexOf(htmlWebpackPlugin.options.sName) !== -1){

    

    %>
<link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
<% }  }%>

<div id="contact"></div>

<% for (var chunk in htmlWebpackPlugin.files.chunks) { 
    if(chunk.indexOf(htmlWebpackPlugin.options.sName) !== -1) { 
        if(htmlWebpackPlugin.files.chunks[chunk].entry.indexOf('runtime~') !== -1) {         
             %> <script src="<%= compilation.assets[htmlWebpackPlugin.files.chunks[chunk].entry.split('/').pop()].source() %>"></script> <% 
        } 
        else {
           %> <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script> <% 
        }
    }
} 
%>
